<section class="main">
  <section class="container">
    <div *ngIf="gameInProgress; else gameOver">
      <app-panel (endGame)="endGame($event)"></app-panel>
    </div>

    <ng-template #gameOver>
        <div class="content" *ngIf="typeEnding === 'derrota'; else youWin">
            <div class="row">
                <div class="col">
                    <h3 class="letter">Você perdeu, é fim de jogo :S</h3>
                    <img src="../assets/lose.svg" alt="">
                    <button class="btn btn-outline-light" type="button" (click)="restartGame()">Jogar novamente</button>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #youWin>
        <div class="content">
            <div class="row">
                <div class="col">
                    <h3 class="letter">Você ganhou, parabéns :D</h3>
                    <img src="../assets/win.svg" alt="">
                    <button class="btn btn-outline-light" type="button" (click)="restartGame()">Jogar novamente</button>
                </div>
            </div>
        </div>
    </ng-template>
  </section>
</section>