.main {
  background: #9ac4e6;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .row {
    .col {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}